%h1 Track

- %w[played_at title artist album year main_tag station_name slug youtube_link].each do | attr |
  .p
    = "#{attr.titleize}:"
    = @track.send attr

%br

%h3= "#{@track.events.count} Events"

=link_to :show, admin_track_events_path(track_id: @track.id)

%h3 Track Info

= edit_button edit_admin_track_info_path(@track.track_info)
= back_button root_path
