%h1 Track

%ol.list-group.m-3
  - %w[played_at title artist album year main_tag station_name slug youtube_link response].each do | attr |
    %li.list-group-item
      .font-weight-bold= "#{attr.titleize}:"
      = @track.send attr


%p
  %a.btn.btn-secondary{"aria-controls" => "debug", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#debug", :role => "button"} Debug
.row
  .col
    #debug.collapse.multi-collapse
      .card.card-body
        = debug @track.attributes

%br

%h3 Stations

%ol.list-group.m-3
- @track.track_info.stations.each do | station |
  %li.list-group-item
    = link_to(station.name, admin_station_path(station))

%br
%h3= "#{@track.events.count} Events"

.p.m-3
  = show_button admin_track_events_path(track_id: @track.id)

%h3 Track Info

.p.m-3
  = edit_button edit_admin_track_info_path(@track.track_info)

.p
  = back_button root_path
