
- @attributes = %w[played_at title artist album year main_tag station_name slug response]

%h1 Track

.row
  .col
    %ol.list-group.m-3
      - @attributes.each do | attr |
        %li.list-group-item
          .font-weight-bold= "#{attr.titleize}:"
          = @track.send attr


%p
  %a.btn.btn-secondary{"aria-controls" => "debug", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#debug", :role => "button"} Debug
.row
  .col
    #debug.collapse.multi-collapse
      .card.card-body
        = debug @track.attributes

.row
  .col

    %h3= "#{@track.events.count} Events"

    .p.m-3
      = show_button admin_track_events_path(track_id: @track.id)

.row
  .col
    %h3 Track Info
    = show_button track_info_path(id: @track.track_info_id)


%br
.p
  = back_button root_path
