%table.table.table-striped.table-bordered
  %thead.thead-dark
    %tr
      %th
        done_at
      %th
        name
      %th
        state
    %tr
      %td= event.done_at
      %td= event.name
      %td= event.state


%ul.list-group
  %li.list-group-item
    TrackInfo:
    = event.track_info ? link_to(TrackInfoPresenter.new(event.track_info).info, track_info_path(event.track_info)) : ""
  %li.list-group-item
    Track:
    = event.track ? link_to(TrackPresenter.new(event.track).full_name, track_path(event.track)) : ""

  %li.list-group-item
    Station:
    = event.station ? link_to( event.station.name, admin_station_path(event.station)) : ""

%br
.p
  %h3 Data
  - if event.data
    - event.data.each do |k,v|
      .row
        .column.m-3
          %details
            %summary
              = k
            .jumbotron= debug v
  - else
    %h4 NO DATA
.p
  %h3 Meta Data
  %details
    %summary Show
    .jumbotron
      = debug event.meta_data

.row
  .column.m-3
    %p
      %a.btn.btn-secondary{"aria-controls" => "debug", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#debug", :role => "button"} Debug
    .row
      .col
        #debug.collapse.multi-collapse
          .card.card-body
            = debug event.attributes
