%table.table.table-striped.table-bordered
  %thead.thead-dark
    %tr
      %th
        done_at
      %th
        name
      %th
        state
    %tr
      %td= event.done_at
      %td= event.name
      %td= event.state

%h4 Data

%ul.list-group
  %li.list-group-item
    Track:
    = event.track ? link_to(TrackPresenter.new(event.track).full_name, track_path(event.track)) : ""

  %li.list-group-item
    Station:
    = event.station ? link_to( event.station.name, admin_station_path(event.station)) : ""

.jumbotron
  = debug event.data
  = debug event.meta_data

%p
  %a.btn.btn-secondary{"aria-controls" => "debug", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#debug", :role => "button"} Debug
.row
  .col
    #debug.collapse.multi-collapse
      .card.card-body
        = debug event.attributes
