%h1 Events for #{@track.info}

.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th Date
        %th Name
        %th State
        %th 
  
    %tbody
      - @events.each do |event|
        %tr
          %td= event.done_at
          %td= event.name
          %td= event.state
          %td= link_to :show, admin_track_event_path(@track, event)

= will_paginate @event_records, renderer: WillPaginate::ActionView::BootstrapLinkRenderer

%br
= back_button root_path
