%h1 Tracks

.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th Time
        %th Song
        %th Artist
        %th Station
  
    %tbody
      - @tracks.each do |track|
        %tr
          %td= format_datetime track.played_at
          %td= track.title
          %td= track.artist
          %td= track.station.name

= button_with_icon(fetch_all_path, "Fetch", "refresh", {class: "btn btn-primary", method: :post})
