%h1 Welcome to Radiar

%h2 Trending Songs

= form_for @trending_tracks_search, url: root_path, html: { method: :get, class: "form-horizontal center"} do |f|
  .form-inline
    .form-group.mb-2
      = f.text_field :artist, class: "form-control", placeholder: "artist", onchange: "this.form.submit();"
    .form-group.mb-2
      = f.select :year, all_years, { include_blank: "select year" } , class: "form-control custom-select", onchange: "this.form.submit();"
    .form-group.mb-2
      = f.select :first_seen_period, TrendingTracks::PERIODS, { include_blank: "select period" } , class: "form-control custom-select", onchange: "this.form.submit();"
    .form-group.mb-2
      = f.select :tag, all_tags, { include_blank: "select tag" } , class: "form-control custom-select", onchange: "this.form.submit();"
    .form-group.mb-2
      = f.select :station_id, all_stations, { include_blank: "select station" }, class: "form-control custom-select", onchange: "this.form.submit();"
    .form-group.mb-2
      = f.check_box :more_stations, class: "form-control form-check-input",  placeholder: "at least two stations", onchange: "this.form.submit();"
      = f.label  :more_station, "on more then one station", class: "form-check-label"

.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th
        %th Count
        %th Name
        %th Artist
        %th year
        %th Tag
        %th Stations
        %th First played
        %th Video
        %th

    %tbody
      - @trending_tracks.each_with_index do |track, i|
        %tr
          %td= i+1
          %td= track.count
          %td= link_to track&.name, track_info_path(id: track.track_info&.id)
          %td= track.artist_name
          %td= track.year
          %td= track.main_tag
          %td= track.stations
          %td= track.first_played_at
          %td= track.youtube_link
          %td
            -#  = button_with_icon admin_fetch_track_info_path(id: track.track_info.id), "Fetch Infos", :redo,  method: :patch

%br
= back_button root_path
