%h1 Welcome to Radiar

.p 
  the coolest place for exploring the radio

%h2= "Trending Songs #{Time.current.year}"

.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th 
        %th Count
        %th Name
        %th Artist
        %th Tag
        %th Stations
        %th First played
        %th 
  
    %tbody
      - @trending_tracks.each_with_index do |track, i|
        %tr
          %td= i+1
          %td= track.count
          %td= track.name
          %td= track.artist_name
          %td= track.main_tag
          %td= track.stations
          %td= track.first_played_at
          %td= track.youtube_link
         
%br
= back_button root_path
