%h1 Tracks

.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th Time
        %th Song
        %th Artist
        %th Album
        %th Year
        %th Tag
        %th Video
        %th Station
  
    %tbody
      - @tracks.each do |track|
        %tr
          %td= track.played_at
          %td= track.title
          %td= track.artist
          %td= track.album
          %td= track.year
          %td= track.main_tag
          %td= track.youtube_link
          %td= link_to track.station.name, [:admin, track.station]

= button_with_icon(fetch_all_path, "Fetch", "refresh", {class: "btn btn-primary", method: :post})
