%h1 Stations Overview

.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th Type
        %th Active
        %th Created
        %th Last update
        %th tracks last 24h
        %th all tracks
        %th

    %tbody
      - @stations.each do |station|
        %tr{class: "#{station.problematic? ? 'text-warning' : ' '}"}
          %td= link_to station.name, station.url, target: "_blank"
          %td= link_to station.strategy, station.playlist_url, target: "_blank"
          %td= station.enabled?
          %td= station.created
          %td= station.last_logged_track
          %td= station.tracks_count(24.hours.ago)
          %td= station.tracks_count
          %td= edit_button edit_admin_station_path(station)


= add_button new_admin_station_path
