!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Radiar
    = csrf_meta_tags
    = csp_meta_tag
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  %body{:class => "#{controller_name} #{action_name}"}
    = # debug(params) if Rails.env == 'development'
    %ul.nav.navbar-light.bg-light
      %a.navbar-brand{:href => root_path} Radiar
      %li.nav-item
        %a.nav-link{:href => tracks_path} Tracks
      %li.nav-item
        %a.nav-link{:href => admin_stations_path} Stations
      %li.nav-item
        %a.nav-link{:href => admin_events_path} Events
      %li.nav-item
        %a.nav-link{:href => "/sidekiq"} Sidekiq
    .container-fluid
      .row
        - flash.each do |name, msg|
          - if msg.is_a?(String)
            %div{class: "alert alert-dismissible fade show alert-#{name == :notice ? "success" : "warning"}", role: "alert"}
              %a.close{"data-dismiss" => "alert"} ×
              = content_tag :div, msg, :id => "flash_#{name}"
      .row
        .col
          = yield
  
  %footer.footer
    .container
      %span.text-muted= link_to "About", "/about"
      %span.text-muted.ml-2= "last update: #{time_ago_in_words Track.last.created_at}"
